<h1>Edit Figure</h1>
<p><%= @figure.name %></p>
<% @figure.titles.each do |title| %>
  <p><%= title.name %></p>
<% end %>
<% @figure.landmarks.each do |landmark| %>
  <p><%= landmark.name %></p>
<% end %>

<form action="/figures/<%="#{@figure.id}"%>" method="post">

  <label>Edit Figure:</label>
  <input id="figure_name" type="text" name="figure[name]">
  <br><br>

  <label>Titles:</label>
  <% @titles.each do |title| %>
    <%= title.name %>
    <input id="title_<%= title.id %>" type="checkbox" name="figure[title_ids][]" value="<%= title.id %>">
  <% end %>
  <br></br>

  <label>New Title:</label>
  <input id="new_title" type="text" name="figure[title]">
  <br><br>

  <label>Landmarks:</label>
  <% @landmarks.each do |landmark| %>
    <%= landmark.name %>
    <input id="landmark_<%= landmark.id %>" type="checkbox" name="figure[landmark_ids][]" value="<%= landmark.id %>">
  <% end %>
  <br><br>

  <label>New Landmark:</label>
  <input id="new_landmark" type="text" name="figure[landmark]"><br><br>

  <input type="submit" value="Save">
</form>