<h2>Add New Figure</h2>

<form action="/figures/new" method="POST">

  <label>Name of Figure: </label>
  <input id="figure_name" type="text" name="figure[name]"><br><br>

  <label>Titles: </label>
  <% Title.all.uniq.each do |title| %>
    <%= title.name %>
    <input id="title_<%= title.id %>" type="checkbox" name="figure[title_ids][]" value="<%= title.id %>">
  <% end %><br>
  <p>Or Choose a new title</p>

  <label>New Title: </label>
  <input id="new_title" type="text" name="title[name]"><br><br>

  <label>Landmarks: </label>
  <% Landmark.all.uniq.each do |landmark| %>
    <%= landmark.name %>
    <input id="landmark_<%= landmark.id %>" type="checkbox" name="figure[landmark_ids][]" value="<%= landmark.id %>">
  <% end %><br><br>

  <label>New Landmark: </label>
  <input id="new_landmark" type="text" name="landmark[name]"><br><br>

  <input type="submit" value="Create New Figure">
</form>